layout {
    // Tab for cluster nodes
    tab name="Cluster" focus=true {
        pane split_direction="vertical" {
            pane name="Node 1" {
                command "nix"
                args "develop" "-c" "bash"
                start_suspended true
            }
            pane name="Node 2" {
                command "nix"
                args "develop" "-c" "bash"
                start_suspended true
            }
        }
    }
    
    // Tab for service commands
    tab name="Services" {
        pane split_direction="vertical" {
            pane name="Commands" size="70%" {
                command "nix"
                args "develop" "-c" "bash"
                start_suspended true
            }
            pane name="Monitor" size="30%" {
                command "bash"
                start_suspended true
            }
        }
    }
    
    // Tab for monitoring
    tab name="Monitor" {
        pane name="Diagnostics" {
            command "nix"
            args "develop" "-c" "bash"
            start_suspended true
        }
    }
}